/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *





 */


.dev {
    display: none;
}


/* line 2, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 7, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 13, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 20, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 30, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 *


 */
/* line 7, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/bootstrap_overwrite.css.scss */
a.btn {
  color: #ffffff;
}

/* line 10, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/bootstrap_overwrite.css.scss */
input.form-control {
  max-width: 250px;
}

/* line 13, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/bootstrap_overwrite.css.scss */
textarea.form-control {
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
}
/* MIXINS */
/* END MIXINS */
/* ANIMATIONS */
@-webkit-keyframes fade-in-out {
  /* line 48, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  0% {
    opacity: 0;
  }

  /* line 49, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  50% {
    opacity: 1;
  }

  /* line 50, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fade-in-out {
  /* line 48, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  0% {
    opacity: 0;
  }

  /* line 49, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  50% {
    opacity: 1;
  }

  /* line 50, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fade-in-out {
  /* line 48, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  0% {
    opacity: 0;
  }

  /* line 49, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  50% {
    opacity: 1;
  }

  /* line 50, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  /* line 48, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  0% {
    opacity: 0;
  }

  /* line 49, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  50% {
    opacity: 1;
  }

  /* line 50, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
  100% {
    opacity: 0;
  }
}

/* END ANIMATIONS */
/* Animate.. */
/* line 56, /home/mojomajor/fw/foodwiz/app/assets/stylesheets/animation.css.scss */
.alert, .notice {
  position: relative;
  background-color: blue;
  line-height: 28px;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-webkit-border-radius: 5px;
  opacity: 0.01;
  -webkit-animation: fade-in-out 2s 1;
  -moz-animation: fade-in-out 2s 1;
  -ms-animation: fade-in-out 2s 1;
  -o-animation: fade-in-out 2s 1;
  animation: fade-in-out 2s 1;
}
