

<div class="col-md-4">
    <h2>@home</h2>

    <p>Achtung hier geht s zu geheimen seite</p>
    <%= link_to t('activerecord.models.post.page_title.index'), posts_path, class: "btn btn-info"  %>
</div>
<div class="col-md-4">
  <h2>Advertising internal</h2>
  <ul>
    <li>organic</li>
    <li>awesome</li>
    <li>delicious</li>
  </ul>
</div>
<div class="col-md-4">
  <h2>Advertising external</h2>
</div>