<h1>Editing post</h1>

<%= render 'form' %>

<div class="btn-group">
<%= link_to t('helpers.links.show'), @post , class: "btn btn-success btn-sm" %>
<%= link_to t('helpers.links.back'), posts_path, class: "btn btn-info btn-sm" %>
</div>
