/* MIXINS */
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -ms-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-webkit-border-radius: $radius;

}
/* END MIXINS */

/* ANIMATIONS */
@include keyframes(fade-in-out) {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}
/* END ANIMATIONS */


/* Animate.. */
.alert, .notice {
  position: relative;
  background-color: blue;
  line-height: 28px;
  max-width: 300px;
  text-align: center;

  @include rounded-corners(5px);

  opacity: 0.01;
  @include animation('fade-in-out 2s 1');
}

.error_messages ul {}
