div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

@keyframes upDown
{
  from {top:0px;}
  50% {top:5px;}
  to {top:0px;}
}
@-webkit-keyframes upDown
{
  from {top:0px;}
  50% {top:5px;}
  to {top:0px;}
}
@-moz-keyframes upDown
{
  from {top:0px;}
  50% {top:5px;}
  to {top:0px;}
}
@-o-keyframes upDown
{
  from {top:0px;}
  50% {top:5px;}
  to {top:0px;}
}
.error_messages ul,.alert, .notice {
  position: relative;
  animation: upDown 2s;
  -moz-animation: upDown 2s; /* Firefox */
  -webkit-animation: upDown 2s; /* Safari and Chrome */
  -ms-animation: upDown 2s;

  animation-iteration-count:1;
  -moz-animation-iteration-count:1; /* Firefox */
  -webkit-animation-iteration-count:1; /*Safari and Chrome*/
  -o-animation-iteration-count:1; /* Opera */
}

